body {
  color: #343047;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

::-moz-selection {
  color: #fff;
  background: #b177bf;
}

::selection {
  color: #fff;
  background: #b177bf;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 25px;
}

h1 {
  font-size: 60px;
  letter-spacing: -2px;
}
h1 .bigger {
  color: #9da2d0;
  font-size: 72px;
}

h2 {
  font-size: 44px;
  font-size: 43px;
  letter-spacing: -1px;
}

h3 {
  font-size: 27px;
  line-height: 1.3;
  letter-spacing: -1px;
}
h3.bigger {
  font-size: 36px;
}

h4 {
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: -1px;
}

h5 {
  font-size: 19px;
  line-height: 1.3;
}

h6 {
  font-size: 16px;
  line-height: 1.3;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.67;
  margin: 0 0 25px;
}

.fw-400 {
  font-weight: 400;
}

.container {
  padding: 0 3%;
  width: 100%;
  max-width: none;
}

.top-wrap {
  background: url("../images/bg-cube1.png") no-repeat 85% -350px;
}

.secondary-wrap {
  background: #f7f7f7;
}
.secondary-wrap .section-hero {
  padding-bottom: 250px;
}
.secondary-wrap .section-hero.shorter {
  margin-bottom: 150px;
}

.secondary-full-wrap {
  background: #f7f7f7;
}

.secondary-full-wrap .section-hero .page-title .button-wrap {
  margin: 28px auto 15px;
}
.secondary-full-wrap .section-hero .page-title .button-wrap .btn {
  margin: 0 3px;
}

nav .brand-logo {
  height: 100%;
  display: flex;
  align-items: center;
}

.brand-logo img {
  height: 34px;
}

nav ul a {
  font-size: 16px;
  font-weight: 600;
}

nav ul a.active {
  font-weight: 600;
}

.reveal {
  position: relative;
  transform: translateY(25px);
  opacity: 0;
  transition: 0.7s all ease-out;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.icon-outlined {
  width: 60px;
  height: 60px;
  border: 1px solid #eaeaea;
  border-radius: 30px;
  padding: 14px;
  display: inline-block;
}
.icon-outlined img {
  width: 100%;
}

.featured-carousel {
  overflow: hidden;
}

.title-vbold {
  font-weight: 900;
  text-transform: uppercase;
}

a.plain-link {
  color: #434c8d;
}

a.underlined {
  color: #343047;
  transition: all 100ms ease;
}

a.underlined::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 100%;
  height: 6px;
  background-color: hotpink;
  opacity: 1;
  transition: opacity 200ms, transform 200ms;
}

a.tooltipped {
  color: #3a4fba;
}

.show-small {
  display: none;
}

.accent-color {
  color: #00a89b;
}

.caps-accent {
  color: #9da2d0;
  text-transform: uppercase;
}

.thin {
  font-weight: 300 !important;
}

.caps-accent-big {
  color: #cc53c1;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -1px;
  text-transform: uppercase;
}
.caps-accent-big strong {
  font-weight: 700;
}

.bbot-0 {
  border-bottom: 0 !important;
}

.no-shadow {
  box-shadow: 0 0 0 !important;
}
.no-shadow .card {
  width: 100%;
  box-shadow: 0 0 0;
}
.no-shadow .card:hover {
  box-shadow: 0 0 0;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.lighter {
  color: #5a6876;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-none {
  display: none !important;
}

.jcc {
  justify-content: center !important;
}

.jcsb {
  justify-content: space-between !important;
}

.tac {
  text-align: center !important;
}

.tar {
  text-align: right !important;
}

.mb-0 {
  margin-bottom: 0;
}

ul.bulleted li {
  list-style: circle;
  list-style-position: inside;
}

.edge-1 {
  background: url("../images/cube-edge1.png") no-repeat left bottom;
}

.edge-2 {
  background: url("../images/cube-edge2.png") no-repeat right top;
}

span.squiggle-1 {
  background: url("../images/squiggle1.png") no-repeat left bottom;
  background-size: 100% 17px;
  padding-bottom: 7px;
}

span.squiggle-2 {
  background: url("../images/squiggle2.png") no-repeat left bottom;
  background-size: 100% 11px;
  padding-bottom: 2px;
}

a {
  color: #5d4fc5;
}

a:hover {
  color: #cc53c1;
  opacity: 0.8;
}

strong {
  font-weight: 700;
}

.btn, .btn-large, .btn-small, .btn-flat {
  background-color: #343047;
  color: #fff;
  border-radius: 111px;
  box-shadow: 0 0 0;
  transition: opacity 150ms ease;
  transition: background-color 150ms ease;
}
.btn:active, .btn:focus, .btn-large:active, .btn-large:focus, .btn-small:active, .btn-small:focus, .btn-flat:active, .btn-flat:focus {
  background-color: #343047;
}
.btn:hover, .btn-large:hover, .btn-small:hover, .btn-flat:hover {
  background-color: #343047;
  color: #fff;
  box-shadow: 0 0 0;
  opacity: 0.8;
}
.btn.curios-purple, .btn-large.curios-purple, .btn-small.curios-purple, .btn-flat.curios-purple {
  background-color: #5d4fc5;
}
.btn.curios-purple:hover, .btn-large.curios-purple:hover, .btn-small.curios-purple:hover, .btn-flat.curios-purple:hover {
  background-color: #cc53c1;
}
.btn.curios-green, .btn-large.curios-green, .btn-small.curios-green, .btn-flat.curios-green {
  background-color: #00a89b;
}
.btn.curios-green:hover, .btn-large.curios-green:hover, .btn-small.curios-green:hover, .btn-flat.curios-green:hover {
  background-color: #00a89b;
}

.btn, .btn-large, .btn-small, .btn-flat {
  font-weight: 700;
  letter-spacing: 0;
  border: none;
  border-radius: 111px;
  display: inline-block;
  height: 43px;
  line-height: 43px;
  padding: 0px 24px;
  text-transform: uppercase;
}

.btn-outline,
.btn-outline:focus,
.btn-outline:active {
  background: transparent;
  color: #3f3864;
  border: 1px solid #343047;
}
.btn-outline:hover,
.btn-outline:focus:hover,
.btn-outline:active:hover {
  background: transparent;
  color: #5d4fc5;
  border-color: #5d4fc5;
}

.sidenav li > a.btn:hover, .sidenav li > a.btn-large:hover, .sidenav li > a.btn-small:hover, .sidenav li > a.btn-large:hover {
  background-color: #343047;
}

.btn-small {
  height: 34px;
  line-height: 34px;
  font-size: 13px;
}
.btn-small.btn-outline {
  line-height: 32px;
}

.btn-large {
  height: 65px;
  line-height: 65px;
  font-size: 18px;
  padding: 0 32px;
}

nav .btn-profile {
  padding: 0;
  width: 43px;
  height: 43px;
  line-height: 43px;
}
nav .btn-profile i {
  height: 43px;
  line-height: 43px;
}

.slick-slider .card {
  border: 1px solid #eaeaea;
  border-radius: 15px;
  box-shadow: 0 0 0;
}
.slick-slider .card:hover {
  box-shadow: 0 0 0;
}
.slick-slider .card .card-content {
  padding: 24px;
}

.page-footer {
  background: #f7f7f7;
  color: #343047;
  padding-top: 60px;
}
.page-footer h1, .page-footer h2, .page-footer h3, .page-footer h4, .page-footer h5, .page-footer h6, .page-footer p, .page-footer li, .page-footer a {
  color: #343047;
}

.footer-copyright {
  margin-top: 50px;
}

input:not([type])::-moz-placeholder, input[type=text]:not(.browser-default)::-moz-placeholder, input[type=password]:not(.browser-default)::-moz-placeholder, input[type=email]:not(.browser-default)::-moz-placeholder, input[type=url]:not(.browser-default)::-moz-placeholder, input[type=time]:not(.browser-default)::-moz-placeholder, input[type=date]:not(.browser-default)::-moz-placeholder, input[type=datetime]:not(.browser-default)::-moz-placeholder, input[type=datetime-local]:not(.browser-default)::-moz-placeholder, input[type=tel]:not(.browser-default)::-moz-placeholder, input[type=number]:not(.browser-default)::-moz-placeholder, input[type=search]:not(.browser-default)::-moz-placeholder, textarea.materialize-textarea::-moz-placeholder {
  color: #aaa;
}

input:not([type])::placeholder, input[type=text]:not(.browser-default)::placeholder, input[type=password]:not(.browser-default)::placeholder, input[type=email]:not(.browser-default)::placeholder, input[type=url]:not(.browser-default)::placeholder, input[type=time]:not(.browser-default)::placeholder, input[type=date]:not(.browser-default)::placeholder, input[type=datetime]:not(.browser-default)::placeholder, input[type=datetime-local]:not(.browser-default)::placeholder, input[type=tel]:not(.browser-default)::placeholder, input[type=number]:not(.browser-default)::placeholder, input[type=search]:not(.browser-default)::placeholder, textarea.materialize-textarea::placeholder {
  color: #aaa;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #3f3864;
  border-bottom: 1px solid #3f3864;
  box-shadow: 0 1px 0 0 #3f3864;
}

input:not([type]):focus:not([readonly]) + label, input[type=text]:not(.browser-default):focus:not([readonly]) + label, input[type=password]:not(.browser-default):focus:not([readonly]) + label, input[type=email]:not(.browser-default):focus:not([readonly]) + label, input[type=url]:not(.browser-default):focus:not([readonly]) + label, input[type=time]:not(.browser-default):focus:not([readonly]) + label, input[type=date]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label, input[type=tel]:not(.browser-default):focus:not([readonly]) + label, input[type=number]:not(.browser-default):focus:not([readonly]) + label, input[type=search]:not(.browser-default):focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #3f3864;
}

[type=checkbox]:checked + span:not(.lever):before {
  border-right-color: #da56c2;
  border-bottom-color: #da56c2;
}

[type=checkbox] + span.smaller:not(.lever) {
  font-size: 13px;
  line-height: 1.4;
}

form {
  margin: 0 auto;
}
.field {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.field label {
  text-align: left;
  display: block;
  margin-bottom: 8px;
}

.field-double .btn {
  margin-left: 10px;
}

.fields-vertical > * {
  display: block;
}

span.req {
  color: red;
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 8px;
  z-index: 1;
  top: -3px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #3a4fba;
  border: 0 solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(255, 28, 168, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #cc53c1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: "FontAwesome";
  color: #fff;
  position: absolute;
  top: 8px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  background: #eee;
  background: linear-gradient(45deg, rgb(230, 230, 230) 0%, rgb(245, 245, 245) 100%);
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 15px;
  border: 4px solid #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.section {
  padding: 0;
}

.block {
  padding: 85px 50px;
  margin-bottom: 0;
  border-bottom: 1px solid #eaeaea;
  max-width: 1650px;
}

.block-1100 {
  padding: 50px 50px;
  max-width: 1100px;
}

.block-full {
  padding: 85px 0;
  border-bottom: 1px solid #eaeaea;
}

.block-full-noborder {
  padding: 60px 0;
  border-bottom: 0;
}

.card {
  border: 0;
  border-radius: 0;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
}
.card:hover {
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
}
.card .card-content {
  padding: 40px;
}
.card .card-action {
  padding: 40px;
  border-top: 0;
}
.card .form-wrap {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}
.card .the-title {
  margin-bottom: 50px;
}
.card .the-title h1, .card .the-title h2, .card .the-title h3 {
  margin-bottom: 10px;
}
.card .title-small h4, .card .title-small h5, .card .title-small h6 {
  margin-bottom: 8px;
}
.card .the-title.mxw p,
.card .title-small.mxw p {
  max-width: 600px;
}

.alert-card {
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  display: inline-block;
}
.alert-card .card-content {
  padding: 20px;
}

.row.wrap {
  padding-left: 3%;
  padding-right: 3%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.row.wrap > .col {
  margin-left: 0;
  display: flex;
}
.row.wrap .card {
  border-radius: 8px;
  display: flex;
  flex: 1 0 100%;
  flex-wrap: wrap;
  align-content: space-between;
}
.row.wrap .card .card-content {
  padding: 50px 40px;
  flex: 1 0 100%;
}
.row.wrap .card .card-content p:last-of-type {
  margin-bottom: 0;
}
.row.wrap .card .card-action {
  flex: 1 0 100%;
}

.headline-center {
  margin: 0 auto 80px;
  max-width: 800px;
}
.headline-center.wider {
  max-width: 1000px;
}

.featured-notice {
  background: linear-gradient(45deg, #473aba 0%, #da56c2 100%);
  background: linear-gradient(45deg, #21a79b 0%, #837fbc 100%) !important;
  color: #fff;
  color: white;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featured-notice img {
  padding-left: 15px;
  padding-right: 15px;
  max-height: 25px;
}
.featured-notice a {
  color: #fff;
  font-size: 16px;
}
.featured-notice a span {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.page-footer .footer-copyright {
  background: #343047;
  line-height: 1.2;
}

.section-hero {
  padding-top: 0;
  padding-bottom: 80px;
  border-bottom: 1px solid #eaeaea;
  overflow: hidden;
}
.section-hero h1 {
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 1000px;
}
.section-hero .the-desc {
  margin: 0 auto;
  max-width: 1000px;
}
.section-hero .home-title-area {
  padding: 10vh 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-hero .page-title {
  padding-top: 70px;
}

.section-slick-slide {
  max-width: 1650px;
  display: flex;
  align-items: center;
}
.section-slick-slide .caps-accent {
  margin-bottom: 10px;
}
.section-slick-slide h3 {
  margin-bottom: 0;
}
.section-slick-slide h1 {
  margin-bottom: 15px;
}

.featured-carousel h2 {
  margin-bottom: 10px;
}
.featured-carousel .the-caption {
  margin-top: 25px;
}
.featured-carousel .the-caption h5 {
  margin-bottom: 5px;
}
.featured-carousel .the-caption h5.fw-400 {
  color: #888;
}
.featured-carousel .btn {
  margin-top: 30px;
}

.section-home-features img {
  max-width: 100%;
}
.section-home-features .the-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section-home-features .the-features .col.s6.m3 {
  padding: 0 2%;
  margin-bottom: 40px;
}
.section-home-features .the-features h5 {
  margin-bottom: 10px;
}
.section-home-features .the-icon {
  background: rgb(103, 64, 188);
  background: linear-gradient(90deg, rgb(103, 64, 188) 0%, rgb(184, 79, 192) 100%);
  margin-bottom: 30px;
  border-radius: 8px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-home-features .the-icon img {
  max-width: 24px;
}
.section-home-features .the-icon i {
  color: #fff;
  font-size: 24px;
}
.feature-icon {
  background: rgb(103, 64, 188);
  background: linear-gradient(90deg, rgb(103, 64, 188) 0%, rgb(184, 79, 192) 100%);
  margin-bottom: 30px;
  border-radius: 8px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature-icon img {
  max-width: 24px;
}
.feature-icon i {
  color: #fff;
  font-size: 24px;
}
.feature-icon.feature-icon-1 {
  background: linear-gradient(90deg, rgb(103, 64, 188) 0%, rgb(184, 79, 192) 100%);
}
.feature-icon.feature-icon-2 {
  background: linear-gradient(90deg, #ba3a94 0%, #da5f56 100%);
}
.feature-icon.feature-icon-3 {
  background: linear-gradient(90deg, #ba853a 0%, #da6256 100%);
}
.feature-icon.feature-icon-4 {
  background: linear-gradient(90deg, #dbc14a 0%, #e7b148 100%);
}
.feature-icon.feature-icon-5 {
  background: linear-gradient(90deg, #aada56 0%, #91ba3a 100%);
}
.feature-icon.feature-icon-6 {
  background: linear-gradient(90deg, #3abaac 0%, #88da56 100%);
}
.feature-icon.feature-icon-7 {
  background: linear-gradient(90deg, #3aa3ba 0%, #5681da 100%);
}
.feature-icon.feature-icon-8 {
  background: linear-gradient(90deg, #3a4fba 0%, #8e56da 100%);
}

.section-features {
  padding-top: 0;
}
.section-features .the-features {
  margin: 0 auto;
  float: none;
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section-features .the-features .the-item {
  background: #fff;
  padding: 35px 30px;
  margin-bottom: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.06);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.section-features .the-features .the-item .the-text {
  margin: 0 30px;
}
.section-features .the-features .the-item .btn-wrap {
  text-align: right;
  flex: 1 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
.section-features .the-features .the-item .btn-wrap .wrap {
  margin-right: 10px;
}
.section-features .the-features .the-item h5 {
  margin-bottom: 5px;
}
.section-features .the-features .the-item p {
  margin-bottom: 0;
}
.section-features .the-features .main-feature {
  box-shadow: 0 4px 18px rgba(214, 77, 194, 0.29);
  box-shadow: 0 4px 18px rgba(97, 67, 197, 0.29);
  align-items: flex-start;
}
.section-features .the-features .main-feature .the-icon-wrap {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.section-features .the-features .main-feature .the-icon-wrap h5 {
  margin-bottom: 0;
}
.section-features .the-features .main-feature .feature-icons {
  margin: 10px 0 0;
}
.section-features .the-features .col:nth-of-type(1) .the-icon {
  background: linear-gradient(90deg, rgb(103, 64, 188) 0%, rgb(184, 79, 192) 100%);
}
.section-features .the-features .col:nth-of-type(2) .the-icon {
  background: linear-gradient(90deg, #ba3a94 0%, #da5f56 100%);
}
.section-features .the-features .col:nth-of-type(3) .the-icon {
  background: linear-gradient(90deg, #ba853a 0%, #da6256 100%);
}
.section-features .the-features .col:nth-of-type(4) .the-icon {
  background: linear-gradient(90deg, #dbc14a 0%, #e7b148 100%);
}
.section-features .the-features .col:nth-of-type(5) .the-icon {
  background: linear-gradient(90deg, #aada56 0%, #91ba3a 100%);
}
.section-features .the-features .col:nth-of-type(6) .the-icon {
  background: linear-gradient(90deg, #3abaac 0%, #88da56 100%);
}
.section-features .the-features .col:nth-of-type(7) .the-icon {
  background: linear-gradient(90deg, #3aa3ba 0%, #5681da 100%);
}
.section-features .the-features .col:nth-of-type(8) .the-icon {
  background: linear-gradient(90deg, #3a4fba 0%, #8e56da 100%);
}

.product-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.product-wrap .the-icon {
  background: rgb(103, 64, 188);
  background: linear-gradient(90deg, rgb(103, 64, 188) 0%, rgb(184, 79, 192) 100%);
  margin-right: 15px;
  margin-bottom: 0;
  border-radius: 8px;
  min-width: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-wrap .the-icon img {
  max-width: 24px;
}
.product-wrap .the-icon i {
  color: #fff;
  font-size: 24px;
}

.alert-card .product-wrap {
  justify-content: center;
  align-items: center;
}
.alert-card .product-wrap h5 {
  margin-bottom: 0;
}

.overlap-hero {
  margin-top: -200px;
}
.overlap-hero.shorter {
  margin-top: -120px;
}

.row.home-featured-products {
  max-width: 950px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.row.home-featured-products > .col {
  margin-left: 0;
  display: flex;
  position: relative;
}
.row.home-featured-products .cutout-smart-contract {
  position: absolute;
  top: -40px;
  left: -375px;
  z-index: 1;
}
.row.home-featured-products .cutout-cc {
  position: absolute;
  top: -60px;
  right: -370px;
  z-index: 1;
}
.row.home-featured-products .card {
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  overflow: visible;
  z-index: 2;
}
.row.home-featured-products .card h4 {
  margin-bottom: 20px;
}
.row.home-featured-products .card .card-content {
  padding-bottom: 0;
}
.row.home-featured-products .card .card-action {
  padding-top: 0;
  padding-bottom: 60px;
}
.row.home-featured-products .button-wrap {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.row.home-featured-products .button-wrap a span {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 20px;
  display: inline-block;
}

.feature-icons {
  margin: 20px 0;
  display: flex;
  align-items: center;
}
.feature-icons img {
  margin-right: 8px;
  width: 32px;
}
.feature-icons.cc-icons {
  padding: 11px 0;
}
.feature-icons.cc-icons img {
  width: 50px;
}

.row.featured-posts,
.row.blog-posts {
  padding-left: 3%;
  padding-right: 3%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.row.featured-posts > .col,
.row.blog-posts > .col {
  margin-left: 0;
  display: flex;
}
.row.featured-posts .card,
.row.blog-posts .card {
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.row.featured-posts .card h4,
.row.blog-posts .card h4 {
  margin-bottom: 20px;
}
.row.featured-posts .card h6,
.row.blog-posts .card h6 {
  color: #aaa7bb;
  margin-bottom: 20px;
}
.row.featured-posts .the-thumbnail,
.row.blog-posts .the-thumbnail {
  background: url("../images/logo-dark.png") no-repeat center center #3f3864;
  background-size: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.row.featured-posts .the-thumbnail img,
.row.blog-posts .the-thumbnail img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 15vw;
  transition: 150ms transform ease;
}
.row.featured-posts .the-thumbnail a,
.row.blog-posts .the-thumbnail a {
  width: 100%;
  display: flex;
}
.row.featured-posts .the-thumbnail a:hover,
.row.blog-posts .the-thumbnail a:hover {
  opacity: 1;
}
.row.featured-posts .the-thumbnail a:hover img,
.row.blog-posts .the-thumbnail a:hover img {
  transform: scale(1.05);
}
.row.featured-posts .card .card-content,
.row.blog-posts .card .card-content {
  padding-bottom: 0;
}
.row.featured-posts .card .card-action,
.row.blog-posts .card .card-action {
  padding-top: 30px;
  padding-bottom: 40px;
}
.row.featured-posts .card .card-content,
.row.featured-posts .card .card-action,
.row.blog-posts .card .card-content,
.row.blog-posts .card .card-action {
  padding-left: 35px;
}
.row.featured-posts .the-icons,
.row.blog-posts .the-icons {
  margin-top: 50px;
  display: flex;
  align-items: center;
}
.row.featured-posts .the-icons img,
.row.blog-posts .the-icons img {
  margin-right: 8px;
  width: 32px;
}

.row.blog-posts .headline-center {
  margin: 20px auto 100px;
}
.row.blog-posts .card h5 {
  margin-bottom: 20px;
}
.row.blog-posts .card h6 {
  margin-bottom: 20px;
}
.row.blog-posts .the-thumbnail img {
  height: 11vw;
}
.row.blog-posts .card .card-content,
.row.blog-posts .card .card-action {
  padding-left: 35px;
  padding-right: 35px;
}

.section-single-posts .row.featured-posts {
  justify-content: center;
}

.row.featured-posts .blog-sidebar {
  width: 360px;
  align-items: flex-start;
}
.row.featured-posts .blog-sidebar .search-bar {
  background: #f2f2f2;
  border: 0;
  padding: 0 25px;
  margin: 0;
  border-radius: 111px;
  transition: all 100ms ease;
}
.row.featured-posts .blog-sidebar .search-bar:focus {
  background: #eaeaea;
  border: 0;
  box-shadow: 0 0 0;
}
.row.featured-posts .blog-sidebar h6 {
  color: #343047;
}
.row.featured-posts .blog-sidebar a {
  color: #343047;
}
.row.featured-posts .blog-sidebar .card {
  padding: 30px;
  align-content: flex-start;
}
.row.featured-posts .blog-sidebar .related-articles {
  padding: 50px 0 50px 3px;
}
.row.featured-posts .blog-sidebar .article {
  margin-bottom: 25px;
}
.row.featured-posts .blog-sidebar .article:last-of-type {
  margin-bottom: 0;
}
.row.featured-posts .blog-sidebar .article img {
  margin-right: 9px;
  margin-bottom: 1px;
  width: 90px;
}
.row.featured-posts .blog-sidebar .article .the-details {
  display: flex;
  align-items: flex-start;
}
.row.featured-posts .blog-sidebar .article .the-details p {
  font-size: 14px;
  line-height: 20px;
  margin-top: -3px;
  margin-bottom: 0;
}
.row.featured-posts .blog-sidebar .article .the-date {
  color: #aaa7bb;
  font-size: 12px;
  font-weight: 700;
}
.row.featured-posts .blog-sidebar .the-tags {
  color: #aaa7bb;
  padding: 0 0 0 3px;
}
.row.featured-posts .blog-sidebar .the-tags p {
  font-size: 14px;
  line-height: 30px;
}
.row.featured-posts .blog-sidebar .the-tags a {
  color: #aaa7bb;
}
.row.featured-posts .blog-sidebar .the-tags .size2 {
  font-size: 16px;
}
.row.featured-posts .blog-sidebar .the-tags .size3 {
  font-size: 18px;
  font-weight: 700;
}
.row.featured-posts .blog-sidebar .the-tags .size4 {
  font-size: 20px;
  font-weight: 700;
}
.row.featured-posts .blog-sidebar .the-tags .size5 {
  font-size: 24px;
  font-weight: 700;
}

.team {
  background: #343047;
}
.team .block {
  padding-top: 100px;
  padding-bottom: 100px;
}
.team h1, .team h2, .team h3, .team h4, .team h5, .team h6, .team p {
  color: #fff;
}
.team h3 {
  font-size: 30px;
  letter-spacing: normal;
  max-width: 650px;
}
.team h3.bigger {
  color: #ce5bc4;
  font-size: 36px;
  margin-bottom: 5px;
}
.team h5 {
  color: #ce5bc4;
  margin-bottom: 0;
}
.team .team-title {
  margin-bottom: 60px;
}
.team .team-member img {
  max-width: 100%;
}
.team .team-member > div {
  margin-top: 20px;
  margin-left: 25px;
}

.about-hero h1 {
  margin-bottom: 35px;
}
.about-hero h3.bigger {
  margin-bottom: 35px;
  max-width: 800px;
}
.about-hero p {
  font-size: 18px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  max-width: 830px;
}

.post-hero h1 {
  max-width: 1000px;
}
.post-hero h5 {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}
.post-hero p {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}

.company-headline {
  padding: 100px 0 130px;
}
.company-headline .headline-center {
  margin-bottom: 0;
  max-width: 1000px;
}

.row .col.about-photo {
  padding: 0;
}
.row .col.about-photo img {
  max-width: 100%;
}

.section-single-posts {
  margin-top: -220px;
  padding-bottom: 65px;
}
.section-single-posts .card {
  width: 100%;
}
.section-single-posts .card .card-content p {
  margin-bottom: 25px;
}
.section-single-posts .row.featured-posts .the-thumbnail {
  height: 20vw;
}
.section-single-posts .row.featured-posts .the-thumbnail img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-single-posts .card .card-content ul li {
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.67;
  margin: 0 0 25px;
}

.overlap-authenticate {
  padding-bottom: 80px;
  margin-top: -225px;
}
.overlap-authenticate .the-title p {
  margin-left: auto;
  margin-right: auto;
}
.overlap-authenticate .the-connect-options {
  margin: 30px 0 0;
}
.overlap-authenticate .the-connect-options .btn {
  margin: 0 auto 8px;
  width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlap-authenticate .the-connect-options .btn img {
  margin-right: 10px;
  height: 24px;
}
.overlap-authenticate .btn-wrap {
  margin: 30px 0 0;
}
.overlap-authenticate form {
  margin: 20px auto 50px;
}
.overlap-authenticate .authenticate-2 form {
  margin-top: 0;
}

.section-create-smart-contract form {
  display: flex;
  justify-content: space-between;
}
.section-create-smart-contract .image-upload {
  padding-top: 6px;
  flex: 0 0 30%;
}
.section-create-smart-contract .the-fields {
  flex: 0 0 65%;
}
.section-create-smart-contract .summary {
  margin: 20px 0;
}

.section-single-product {
  margin-top: -250px;
}
.section-single-product > .row .the-steps {
  max-width: 1400px;
}
.section-single-product > .row .the-steps .col {
  background: #fff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
  position: relative;
}
.section-single-product > .row .the-steps .col::after {
  background: #473aba;
  content: "";
  width: 100%;
  height: 10px;
  display: table;
  position: absolute;
  bottom: 0;
  left: 0;
}
.section-single-product > .row .the-steps .col:nth-of-type(1)::after {
  background: #473aba;
}
.section-single-product > .row .the-steps .col:nth-of-type(2)::after {
  background: #e881f0;
}
.section-single-product > .row .the-steps .col:nth-of-type(3)::after {
  background: #32be75;
}
.section-single-product > .row .the-steps .col:nth-of-type(4)::after {
  background: #feb71f;
}
.section-single-product > .row .the-steps .col.l3 {
  width: 24%;
}
.section-single-product > .row .the-steps h3 {
  background: #343047;
  color: #fff;
  line-height: 50px;
  border-radius: 100%;
  width: 50px;
  height: 50px;
}
.section-single-product > .row > .row {
  border: 0;
  display: flex;
  align-items: center;
}
.section-single-product > .row img {
  max-width: 100%;
}
.section-single-product > .row .the-image img {
  border-radius: 15px;
}
.section-single-product > .row .the-image.l12 .the-desc {
  margin: 40px auto 60px;
  max-width: 1000px;
}
.section-single-product > .row .the-image.l12 .image-wrap {
  border-radius: 15px;
  max-height: 400px;
  overflow: hidden;
  display: inline-block;
}
.section-single-product > .row .the-image.l12 .image-wrap img {
  border-radius: 0;
}
.section-single-product > .row .the-text {
  padding: 3%;
}

.product-hero .the-desc {
  max-width: 800px;
}

.section-hero .page-title .button-wrap {
  margin: 35px auto;
}

.section-paymint .the-connect-options {
  margin-top: 15px;
}
.section-paymint textarea {
  min-height: 180px;
}
.section-paymint .paymint-options,
.section-paymint .paymint-code {
  margin-top: 80px;
}

.secondary-wrap .paymint-hero {
  padding-bottom: 280px;
}

.sdToggle-details,
.sdToggle-show,
.sdToggle-hide:target {
  display: none;
}

.sdToggle-hide:target ~ .sdToggle-details {
  display: block;
}

.sdToggle-hide:target + .sdToggle-show {
  display: inline-block;
}

.dropdown-content li {
  min-height: 40px;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: #5681da;
  font-size: 14px;
  line-height: 1;
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid #3a4fba;
}

.row.schedule-demo-cta {
  margin-bottom: 8vh;
}

.section-home-posts .card-content a {
  color: #222;
}
.section-home-posts .button-wrap {
  margin: 50px auto;
  flex: 1 0 100%;
  display: flex;
  justify-content: center;
}

.two-wide {
  display: flex;
  align-items: center;
}
.two-wide .the-text h3 {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: normal;
  margin-bottom: 5px;
}
.two-wide .the-image {
  text-align: center;
  padding: 0 47px;
}
.two-wide .the-image img {
  max-width: 100%;
  border-radius: 15px;
}

.two-wide-left {
  flex-direction: row-reverse;
}

.section-home-infoblocks .home-api .the-image {
  padding-left: 80px;
  padding-right: 0;
}
.section-home-infoblocks .home-everyone {
  padding-bottom: 65px;
}

.section-smart-contracts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.section-smart-contracts .block-full {
  padding: 85px 50px;
  flex: 1 0 100%;
}

.smart-contract-features .mxw {
  font-size: 18px;
  line-height: 1.4;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 65px;
  max-width: 1200px;
}
.smart-contract-features .mxw .accent-color {
  font-size: 30px;
  font-weight: 600;
  margin-right: 5px;
}
.smart-contract-features h5 {
  position: relative;
}
.smart-contract-features h5::before {
  content: "";
  background: #00a89b;
  width: 10px;
  height: 10px;
  border-radius: 111px;
  position: absolute;
  top: 6px;
  left: -20px;
  display: block;
}
.smart-contract-features .the-features {
  margin: 50px auto 30px;
  max-width: 1550px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.smart-contract-features .the-features .feature {
  text-align: left;
  padding: 22px 25px 20px 35px;
  margin: 0 25px 50px;
  border-bottom: 3px solid #00a89b;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  flex: 0 0 calc(31% - 50px);
}
.smart-contract-features .the-features .feature h5 {
  margin-bottom: 15px;
  position: relative;
}
.smart-contract-features .the-features .feature p:last-of-type {
  margin-bottom: 0;
}
.smart-contract-features .extra-features {
  display: flex;
  justify-content: center;
}
.smart-contract-features .extra-features h5 {
  padding-right: 6%;
}
.smart-contract-features .extra-features h5:last-of-type {
  padding-right: 0;
}

.smart-contract-actions .the-actions {
  display: inline-block;
}
.smart-contract-actions .action {
  text-align: left;
  display: flex;
}
.smart-contract-actions .action p {
  font-weight: 600;
}
.smart-contract-actions h3 {
  margin: 0 auto 50px;
  max-width: 1200px;
}
.smart-contract-actions a.btn-small {
  margin-right: 20px;
  width: 180px;
  cursor: default;
}
.smart-contract-actions a.btn-small:hover {
  opacity: 1;
}

.smart-contract-faq {
  background: #f7f7f7;
}
.smart-contract-faq h3 {
  margin-bottom: 50px;
}
.smart-contract-faq .the-faqs {
  margin: 0 auto;
  max-width: 1000px;
}
.smart-contract-faq .the-faqs .faq {
  background: #fff;
  text-align: left;
  padding: 30px;
  margin-bottom: 30px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.02);
  border-radius: 8px;
}
.smart-contract-faq .the-faqs .faq h5 {
  margin-bottom: 15px;
}
.smart-contract-faq .the-faqs .faq p:last-of-type {
  margin-bottom: 0;
}
.smart-contract-faq .the-faqs .faq:last-of-type {
  margin-bottom: 0;
}

.smart-contract-api .button-wrap .btn {
  margin: 0 3px;
}

/* dashboard */
.section-dashboard .row.wrap .card .card-content {
  padding-top: 25px;
  padding-left: 60px;
  padding-right: 60px;
}
.section-dashboard .caps-accent {
  font-weight: 700;
  margin: 0 0 20px 5px;
}
.section-dashboard .caps-accent i {
  margin-right: 5px;
}

.section-single-posts .card .card-content .contract p {
  margin-bottom: 8px;
}

.choose-account {
  padding: 0;
  margin-bottom: 50px;
  border-radius: 12px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.choose-account h5.caps-accent {
  color: #222;
  font-size: 16px;
  margin-bottom: 0;
}
.choose-account .select-wrapper input.select-dropdown {
  font-size: 14px;
  margin-bottom: 0;
  line-height: 2rem;
  height: 2rem;
}
.choose-account .select-wrapper li {
  margin-bottom: 0 !important;
}

.payout-info {
  padding: 35px;
  margin-bottom: 50px;
  border: 3px solid #ebebeb;
  border-radius: 12px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.payout-info .stat {
  margin-bottom: 10px;
}
.payout-info h5.stat {
  margin-bottom: 5px;
}
.payout-info h5.stat span {
  color: #67ada7;
  font-weight: 400;
  margin-left: 10px;
}
.payout-info span.scheduled-for {
  color: #888;
}
.payout-info h6 span {
  font-weight: 400;
  min-width: 80px;
  display: inline-block;
}
.payout-info h6:last-of-type {
  margin-bottom: 0;
}
.payout-info .sales {
  text-align: right;
}
.payout-info .sales .stat {
  font-size: 14px;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
}

.contract {
  background: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 10px;
  position: relative;
  transition: 100ms all ease-in;
  display: flex;
  align-items: flex-start;
}
.contract.contract-open, .contract:hover {
  background: #e1e1e1;
}
.contract .the-details {
  flex: 1 0 100%;
  display: flex;
  flex-wrap: wrap;
}
.contract .the-details p {
  color: #000;
  font-size: 13px;
  line-height: 1.3;
  font-weight: 700;
}
.contract .the-details p span {
  font-weight: 400;
}
.contract .the-details .primary {
  color: #ddd;
  padding: 25px 20px 25px 5px;
  flex: 1 0 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.contract .the-details .primary .the-th {
  flex: 1 0 51%;
  display: flex;
  justify-content: space-between;
}
.contract .the-details .primary .the-th i {
  color: #00a89b;
  margin-right: 3px;
}
.contract .the-details .primary .the-th ul li {
  margin-bottom: 0;
}
.contract .the-details .primary .the-th p {
  color: #444;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 0;
}
.contract .the-details .primary .the-th p span {
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  display: block;
}
.contract .the-details .primary .the-title {
  color: #222;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: normal;
  margin-bottom: 0;
  width: 320px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.contract .the-details .primary .the-title span {
  background: #bbb;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin-right: 2px;
  margin-bottom: 2px;
  border-radius: 111px;
  height: 17px;
  line-height: 17px;
  padding: 0px 10px;
  display: inline-block;
}
.contract .the-details .primary .the-title span.deploying {
  background: #999;
}
.contract .the-details .primary .the-title span.deployed {
  background: #555;
}
.contract .the-details .primary .the-title span i {
  color: #fff;
}
.contract .the-details .primary .key-stats {
  display: flex;
  justify-content: flex-start;
}
.contract .the-details .primary .key-stats > p {
  margin-left: 30px;
}
.contract .the-details .primary .key-stats > p:first-of-type {
  margin-left: 0;
}
.contract .the-details .primary .buttons {
  display: flex;
}
.contract .the-details .primary .buttons .btn-small {
  margin-left: 30px;
}
.contract .the-details .primary p {
  color: #ddd;
}
.contract .the-details .primary .select-wrapper input.select-dropdown,
.contract .the-details .primary .btn-small {
  background: #00a89b;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0;
  border: none;
  border-radius: 111px;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding: 0px 24px;
  text-transform: uppercase;
  width: auto;
  margin-bottom: 0;
}
.contract .the-details .primary .select-wrapper input.select-dropdown {
  max-width: 80px;
}
.contract .the-details .primary .dropdown-content li > a, .contract .the-details .primary .dropdown-content li > span {
  padding-top: 6px;
  padding-bottom: 6px;
}
.contract .the-details .primary .dropdown-content li {
  min-height: 24px;
}
.contract .the-details .primary .select-wrapper .caret {
  margin: 0;
  height: 28px;
  right: 14px;
  fill: #fff;
  z-index: 1;
}
.contract .the-details .secondary {
  background: #f4f4f4;
  padding: 25px 20px;
  border-radius: 0 0 7px 7px;
  flex: 1 0 100%;
}
.contract .the-details .the-image {
  padding-right: 20px;
  flex: 0 0 70px;
  display: flex;
}
.contract .the-details .the-image img {
  width: 100%;
  max-width: 100%;
  border-radius: 2px;
  cursor: pointer;
}
.contract .the-details .the-text {
  flex: 1 0 51%;
}
.contract .the-buttons {
  flex: 0 0 32%;
}
.contract .the-buttons .btn-small {
  margin-bottom: 7px;
}
.contract .the-buttons .primary {
  flex: 1 0 100%;
}
.contract .the-buttons .secondary {
  margin-top: 25px;
  flex: 1 0 100%;
}
.contract .expand-toggle i {
  color: #000;
  font-size: 28px;
  padding: 10px 13px;
}
.contract .expand-toggle a:hover {
  opacity: 1;
}
.contract .expand-toggle a:hover i {
  color: #555;
}

/* modal */
.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal-window > div {
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: white;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
}
.modal-window header {
  font-weight: bold;
}
.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}
.modal-close:hover {
  color: black;
}

.section-hero .home-banner-area {
  padding: 50px 30px;
}

.section-hero .home-title-area .home-banner {
  padding: 60px 0;
}

.home-title-area .home-banner {
  background: url("../images/banner.jpg") no-repeat center center #060c14;
  background-size: cover;
  width: 100%;
  max-width: 1450px;
  position: relative;
}
.home-title-area .home-banner::after {
  content: "";
  background: url("../images/shadow.png") no-repeat center center;
  background-size: contain;
  display: block;
  width: 100%;
  height: 369px;
  position: absolute;
  bottom: -100px;
  z-index: -1;
}
.home-title-area .home-banner h1 {
  color: #fff;
  font-size: 62px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}
.home-title-area .home-banner h4 {
  color: #00decd;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: normal;
  margin-bottom: 0;
}
.home-title-area .home-banner ul {
  margin: 30px 20px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 100px;
       column-gap: 100px;
}
.home-title-area .home-banner ul .the-items {
  max-width: 890px;
  flex: 0 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.home-title-area .home-banner ul li {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  padding: 0 2%;
  margin-bottom: 8px;
}
.home-title-area .home-banner ul li:nth-of-type(odd) {
  flex: 0 0 58%;
}
.home-title-area .home-banner ul li:nth-of-type(even) {
  flex: 0 0 42%;
}
.home-title-area .home-banner i {
  color: #00d0c0;
  font-size: 23px;
  margin-right: 7px;
}

.section-hero .home-headline-area {
  padding: 50px 30px;
}

.home-headline-area h2 {
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.home-headline-area h2 a.underlined::after {
  content: "";
  background-color: #00b7a9;
  position: absolute;
  bottom: 0;
  left: 0px;
  height: 2px;
}
.home-headline-area h4 {
  color: #00b7a9;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: normal;
  margin-bottom: 5px;
}
.home-headline-area p.desc {
  font-size: 21px;
  font-weight: 300;
}

.top-creators {
  background: url("/images/bg-slice.png") no-repeat center !important;
  background-size: cover !important;
}

.section-hero .creator-headline-area {
  padding: 50px 30px 0;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1050px;
}

.creator-headline-area {
  flex-wrap: wrap;
}
.creator-headline-area .the-title {
  max-width: 1050px;
}
.creator-headline-area .the-title h2 {
  font-size: 42px;
}
.creator-headline-area .the-text {
  max-width: 800px;
}
.creator-headline-area h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 0;
}
.creator-headline-area h4 {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: normal;
  margin-bottom: 5px;
}
.creator-headline-area h4 small {
  font-size: 65%;
  font-weight: 600;
  position: relative;
  bottom: 10px;
}
.creator-headline-area p.desc {
  font-size: 21px;
  font-weight: 300;
}
.creator-headline-area ul {
  margin: 50px 20px;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 100px;
       column-gap: 100px;
}
.creator-headline-area ul .the-items {
  width: 100%;
  max-width: none;
  flex: 0;
  display: flex;
  flex-wrap: wrap;
}
.creator-headline-area ul li {
  font-size: 25px;
  font-weight: 400;
  text-align: left;
  padding: 0 2%;
  margin-bottom: 20px;
  display: inline-block;
  flex: 1 0 100%;
}
.creator-headline-area i {
  color: #00d0c0;
  font-size: 23px;
  margin-right: 7px;
}
.creator-headline-area .button-wrap {
  margin-top: 30px;
}

.centered-one-col img {
  max-width: 800px;
}
.centered-one-col p {
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 900px;
}
.centered-one-col p:last-of-type {
  margin-bottom: 0;
}
.centered-one-col .button-wrap {
  margin-top: 30px;
}

.section-creator-list .the-features {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
  max-width: 750px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section-creator-list .the-features .the-item {
  margin-bottom: 15px;
  flex: 0 0 47%;
  flex: 1 0 90%;
  display: flex;
  gap: 20px;
}
.section-creator-list .the-features .the-item h5 {
  font-size: 18px;
  font-weight: 400;
}
.section-creator-list .the-features .the-item i {
  font-size: 21px;
}
.section-creator-list .the-features .the-item:last-of-type {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0;
  flex: 1 0 100%;
}
.section-creator-list .the-features .the-item:last-of-type h5 {
  margin-bottom: 0;
}

.section-creator-tech {
  border: 0;
}
.section-creator-tech h2.title-vbold {
  font-size: 40px;
}
.section-creator-tech .whitelabel {
  margin-top: 50px;
}
.section-creator-tech .dots {
  margin: 80px auto;
}
.section-creator-tech .dots img {
  max-width: 100%;
}

.section-distribute {
  background: url("/images/bg-charcoal.jpg") no-repeat center #222;
  background-size: cover;
  padding: 40px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section-distribute h2.title-vbold {
  font-size: 40px;
  position: relative;
  z-index: 2;
}
.section-distribute .block-1100 {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
.section-distribute h1, .section-distribute h2, .section-distribute h3, .section-distribute h4, .section-distribute h5, .section-distribute h6, .section-distribute p, .section-distribute li {
  color: #fff;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
.section-distribute .distribute-list {
  position: relative;
}
.section-distribute .distribute-list ul {
  margin-top: 40px;
  margin-left: 20%;
}
.section-distribute .distribute-list ul li {
  background: url("/images/arrow.png") no-repeat left center;
  background-size: 121px auto;
  font-size: 24px;
  font-weight: 300;
  padding-left: 130px;
  margin-bottom: 10px;
}
.section-distribute .distribute-list .thing {
  position: absolute;
  top: -10%;
  right: 0;
  width: 38%;
}
.section-distribute .provide h2.title-vbold {
  font-size: 40px;
}
.section-distribute .provide .the-list {
  margin-top: 50px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 5%;
       column-gap: 5%;
  row-gap: 30px;
}
.section-distribute .provide .the-list .the-item {
  padding: 25px;
  border: 2px solid rgba(151, 8, 240, 0.4509803922);
  border-radius: 10px;
  flex: 0 0 28%;
}
.section-distribute .provide .the-list .the-item p {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 0;
}
.section-distribute .provide h4 {
  font-weight: 300;
}

.section-mockup {
  background: url("/images/bg-cracked.jpg") no-repeat center top #222;
  background-size: cover;
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  border: 0;
}
.section-mockup h2.title-vbold {
  color: #fff;
  font-size: 40px;
}
.section-mockup img {
  max-width: 100%;
}
.section-mockup .the-image {
  margin-bottom: 30px;
}
.section-mockup .icons {
  margin: 15px auto 0;
  max-width: 750px;
  display: inline-block;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.section-mockup .icon {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
}
.section-mockup .icon i {
  color: #fff;
  font-size: 30px;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  flex: 0 0 auto;
}
.section-mockup .icon p {
  color: #fff;
  text-align: left;
  line-height: 1.55;
  margin-left: 0;
  margin-right: 0;
}

.section-search-results .search-results {
  display: flex;
  flex-wrap: wrap;
}
.section-search-results .search-results .the-results {
  margin: 50px auto;
  max-width: 1300px;
}
.section-search-results .search-results .the-results .card > div > a {
  width: 100%;
}
.section-search-results .search-results .the-results .card-content {
  padding: 15px;
  vertical-align: middle;
}
.section-search-results .search-results .the-results .card-content > div {
  vertical-align: middle;
  display: inline-block;
}
.section-search-results .search-results .the-results .card-content > div h5 {
  margin: 0px;
  color: #13112B;
}
.section-search-results .search-results .the-results .the-image {
  margin-right: 25px;
  width: 80px;
  height: 80px;
  border-radius: 10px;
}
.section-search-results .search-results .the-results .the-name {
  padding-right: 15px;
  margin-right: 25px;
  width: 220px;
  border-right: 1px solid #eaeaea;
}
.section-search-results .search-results .the-results .the-desc {
  padding-right: 15px;
  margin-right: 15px;
  width: 440px;
  border-right: 1px solid #eaeaea;
}
.section-search-results .search-results .the-results .the-project {
  padding-right: 15px;
  margin-right: 15px;
  width: 100px;
  border-right: 1px solid #eaeaea;
  text-align: center;
}
.section-search-results .search-results .the-results .the-followers {
  padding-right: 15px;
  margin-right: 25px;
  width: 100px;
  border-right: 1px solid #eaeaea;
  text-align: center;
}

.creator-fund-hero {
  background: url("/images/bg-creator-fund.jpg") no-repeat top center #222;
  background-size: cover;
  border-bottom: 0;
  position: relative;
}
.creator-fund-hero .home-title-area {
  padding: 9vh 0 8vh;
}
.creator-fund-hero .home-title-area h1 {
  font-size: 60px;
  font-weight: 300;
  line-height: 72px;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
  max-width: 1070px;
}
.creator-fund-hero h1, .creator-fund-hero h2, .creator-fund-hero h3, .creator-fund-hero h4, .creator-fund-hero h5, .creator-fund-hero h6, .creator-fund-hero p, .creator-fund-hero span {
  color: #fff;
}
.creator-fund-hero h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 72px;
  text-transform: uppercase;
  letter-spacing: -1.5px;
  margin-bottom: 30px;
}
.creator-fund-hero h4.greentext {
  color: #00b7a9;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
}
.creator-fund-hero h4.light {
  font-weight: 300;
  letter-spacing: normal;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 665px;
}
.creator-fund-hero .the-steps {
  padding: 20px 0 0;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.creator-fund-hero .the-steps .step {
  padding: 0 15px;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.creator-fund-hero .the-steps span {
  font-size: 50px;
  font-weight: 600;
  line-height: 55px;
  width: 100%;
  display: block;
}
.creator-fund-hero .the-steps .gradient-line {
  background: rgb(0, 168, 155);
  background: linear-gradient(90deg, rgb(0, 168, 155) 0%, rgb(125, 130, 255) 100%);
  width: 100%;
  height: 5px;
  display: block;
}
.creator-fund-hero .the-steps p {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 27px;
  width: 100%;
}
.creator-fund-hero .the-details {
  text-align: center;
  width: 150px;
  opacity: 0.8;
  position: absolute;
  bottom: 30px;
  left: calc(50% - 75px);
  right: calc(50% - 75px);
}
.creator-fund-hero .the-details p {
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 0;
}
.creator-fund-hero .the-details i {
  color: #fff;
  font-size: 30px;
  margin-left: 5px;
  opacity: 0.65;
}

.gray-block {
  background: #222;
  padding: 65px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gray-block h3 {
  color: #ccc;
  font-size: 24px;
  font-weight: 300;
  line-height: 38px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  max-width: 1024px;
}

.creatorfund-video h3 {
  margin-bottom: 35px;
}
.creatorfund-video .the-video {
  margin-bottom: 30px;
}
.creatorfund-video p.big {
  color: #444;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  margin-bottom: 40px;
}
.creatorfund-video .more-soon {
  margin-top: 80px;
}

.creatorfund-milestones .how-it-works {
  margin-bottom: 50px;
}
.creatorfund-milestones .how-it-works .the-details {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.creatorfund-milestones .how-it-works .the-details p {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 21px;
  margin-left: 0;
  margin-right: 0;
  max-width: 450px;
}
.creatorfund-milestones .milestones-wrap {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.creatorfund-milestones .milestones-wrap h2 {
  width: 100%;
}
.creatorfund-milestones .milestones-wrap .milestone {
  background: #F1F1F1;
  text-align: left;
  padding: 30px 40px;
  max-width: 950px;
  border-radius: 10px;
  flex: 1 0 100%;
}
.creatorfund-milestones .milestones-wrap .milestone li {
  line-height: 1.9;
}
.creatorfund-milestones .milestones-wrap .milestone i {
  color: #00B7A9;
  margin-right: 10px;
}
.creatorfund-milestones .milestones-wrap .milestone p {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #777;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0px;
}
.creatorfund-milestones .milestones-wrap .milestone p:first-of-type {
  color: #222;
}

.section-creator-fund-dash {
  margin-top: -220px;
  padding-bottom: 65px;
}
.section-creator-fund-dash .button-wrap.text-center {
  text-align: center;
  padding: 15px 0 50px;
}
.section-creator-fund-dash .the-desc {
  color: #777;
  font-size: 19px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 850px;
  max-width: 100%;
  display: block;
}
.section-creator-fund-dash .progress-bar {
  margin-bottom: 40px;
}
.section-creator-fund-dash .progress-bar .the-bar {
  background-color: #eaeaea;
  margin-bottom: 12px;
  height: 10px;
  width: 100%;
  border-radius: 111px;
  display: block;
  overflow: hidden;
  position: relative;
}
.section-creator-fund-dash .progress-bar .the-progress {
  background: #00B7A9;
  height: 10px;
  position: absolute;
}
.section-creator-fund-dash .progress-bar .progress-1 {
  width: 1%;
}
.section-creator-fund-dash .progress-bar .progress-2 {
  width: 2%;
}
.section-creator-fund-dash .progress-bar .progress-3 {
  width: 5%;
}
.section-creator-fund-dash .progress-bar .progress-4 {
  width: 8%;
}
.section-creator-fund-dash .progress-bar .progress-5 {
  width: 12%;
}
.section-creator-fund-dash .progress-bar .progress-6 {
  width: 15%;
}
.section-creator-fund-dash .progress-bar .progress-7 {
  width: 20%;
}
.section-creator-fund-dash .progress-bar .progress-8 {
  width: 25%;
}
.section-creator-fund-dash .progress-bar .progress-9 {
  width: 30%;
}
.section-creator-fund-dash .progress-bar .progress-10 {
  width: 35%;
}
.section-creator-fund-dash .progress-bar .progress-11 {
  width: 40%;
}
.section-creator-fund-dash .progress-bar .progress-12 {
  width: 45%;
}
.section-creator-fund-dash .progress-bar .progress-13 {
  width: 50%;
}
.section-creator-fund-dash .progress-bar .progress-14 {
  width: 55%;
}
.section-creator-fund-dash .progress-bar .progress-15 {
  width: 60%;
}
.section-creator-fund-dash .progress-bar .progress-16 {
  width: 65%;
}
.section-creator-fund-dash .progress-bar .progress-17 {
  width: 70%;
}
.section-creator-fund-dash .progress-bar .progress-18 {
  width: 75%;
}
.section-creator-fund-dash .progress-bar .progress-19 {
  width: 80%;
}
.section-creator-fund-dash .progress-bar .progress-20 {
  width: 85%;
}
.section-creator-fund-dash .progress-bar .progress-21 {
  width: 90%;
}
.section-creator-fund-dash .progress-bar .progress-22 {
  width: 95%;
}
.section-creator-fund-dash .progress-bar .progress-23 {
  width: 100%;
}
.section-creator-fund-dash .milestones {
  border: 0;
  box-shadow: 0 0 0;
}
.section-creator-fund-dash .milestones > li {
  margin-bottom: 20px;
}
.section-creator-fund-dash .milestones .collapsible-header {
  padding: 20px 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-creator-fund-dash .milestones .collapsible-header h5 {
  margin-bottom: 0;
}
.section-creator-fund-dash .milestones .collapsible-header i {
  margin-right: 0;
}
.section-creator-fund-dash .milestones .collapsible-body {
  background: #fff;
  margin-top: -2px;
  border: 1px solid #ddd;
  border-top: 0;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
.section-creator-fund-dash .milestones .collapsible-body i {
  margin-right: 8px;
}
.section-creator-fund-dash .milestones .collapsible-body li {
  margin-bottom: 15px;
}
.section-creator-fund-dash .milestones .collapsible-body li:last-of-type {
  margin-bottom: 0;
}
.section-creator-fund-dash .milestones .collapsible-body li i {
  color: #888;
  font-size: 13px;
}
.section-creator-fund-dash .milestones .collapsible-body .reward {
  background: #f4f4f4;
  padding: 15px;
  margin-top: 20px;
  border-radius: 10px;
}
.section-creator-fund-dash .milestones .collapsible-body .reward p {
  color: #777;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
}
.section-creator-fund-dash .milestones .collapsible-body .reward p:first-of-type {
  color: #222;
}
.section-creator-fund-dash .milestones .collapsible-body .reward p span {
  color: #777;
}
.section-creator-fund-dash .milestones .review-it {
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.section-creator-fund-dash .milestones .review-it .btn-small {
  flex-shrink: 0;
}
.section-creator-fund-dash .milestones i.complete {
  color: #00B7A9;
}
.section-creator-fund-dash .milestones .fa-lock {
  color: #ccc;
  font-size: 18px;
}
.section-creator-fund-dash .milestones .fa-lock-open {
  color: #232138;
  font-size: 18px;
}
.section-creator-fund-dash .milestones .btn-small {
  background: #232138;
  text-transform: none;
}/*# sourceMappingURL=old_curios.css.map */