#dropdownM.dropdown-content {
  top: auto !important;
  right: auto !important;
  bottom: auto !important;
  left: auto !important;
  position: relative !important;
}

@media (min-width: 1499px) {
  .section-home-posts .row.featured-posts .the-thumbnail img {
    height: 14vw;
  }
}
@media (min-width: 1299px) {
  .section-dashboard .row.wrap .col.l8 {
    width: 1200px;
  }
}
@media (min-width: 1024px) {
  .home-title-area h1 {
    font-size: 72px;
  }
  .row.home-featured-products .card h4 {
    font-size: 26px;
  }
}
@media (max-width: 1699px) {
  .contract {
    flex-wrap: wrap;
  }
  .contract .the-details {
    padding-right: 0;
    flex: 1 0 100%;
  }
  .contract .the-buttons {
    margin-left: -3px;
    flex: 1 0 100%;
  }
  .contract .the-buttons .btn-small:after {
    content: "";
    display: block;
  }
}
@media (max-width: 1499px) {
  .row.home-featured-products .cutout-cc {
    top: -150px;
    right: auto;
    width: 100%;
    left: 120px;
  }
  .row.home-featured-products .cutout-smart-contract {
    top: auto;
    left: auto;
    right: 0;
    width: 100%;
    bottom: -150px;
    transform: rotate(90deg);
  }
}
@media (max-width: 1299px) {
  .expand-toggle {
    position: absolute;
    top: 0;
    right: 0;
  }
  .contract .the-details .primary {
    padding: 25px 20px;
  }
  .contract .the-details .the-image {
    padding-right: 0;
    margin: 0 auto 15px;
    flex: 0 0 100px;
  }
  .contract .the-details .primary .the-th {
    flex: 1 0 100%;
    flex-wrap: wrap;
  }
  .contract .the-details .primary .the-title {
    text-align: center;
    margin-bottom: 15px;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .contract .the-details .primary .the-title span {
    margin: 0 auto 10px;
    display: table;
  }
  .contract .the-details .primary .key-stats {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .contract .the-details .primary .key-stats > p {
    margin: 0 20px;
  }
  .contract .buttons {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contract .buttons .button-wrap {
    text-align: center;
    margin-top: 7px;
    width: 100%;
  }
  .contract .the-details .primary .key-stats > p:first-of-type {
    margin-left: 20px;
  }
  .contract .the-details .primary .buttons .select-wrapper {
    margin: 0 15px;
  }
  .contract .the-details .primary .buttons .btn-small {
    margin: 0 15px;
  }
  .contract .the-details p span {
    color: #555;
  }
  .payout-info {
    flex-wrap: wrap;
  }
  .payout-info .upcoming {
    flex: 1 0 100%;
  }
  .payout-info .sales {
    margin-top: 15px;
    flex: 1 0 100%;
  }
  .section-search-results .search-results .the-results {
    width: 1000px;
  }
  .section-search-results .search-results .the-results .the-image {
    width: 50px;
    height: 50px;
  }
  .section-search-results .search-results .the-results .the-name {
    width: 130px;
    overflow: hidden;
    word-break: break-all;
  }
  .section-search-results .search-results .the-results .the-name h5 {
    font-size: 16px;
  }
  .section-search-results .search-results .the-results .the-desc {
    width: 308px;
  }
  .section-search-results .search-results .the-results .the-desc p {
    font-size: 13px;
  }
  .section-search-results .search-results .the-results .btn-small {
    font-size: 11px;
    padding: 0 18px;
  }
}
@media (max-width: 1099px) {
  .section-home-infoblocks .home-everyone {
    padding-top: 30px;
  }
  .two-wide.home-everyone .the-image {
    padding: 0 65px;
    margin-top: 70px;
  }
  .section-home-infoblocks .home-api .the-image {
    padding-left: 30px;
    padding-right: 0;
  }
  .smart-contract-features .the-features .feature {
    flex: 1 0 100%;
  }
  .home-title-area .home-banner ul .the-items {
    width: 100%;
    max-width: none;
    flex: 0;
  }
  .home-title-area .home-banner ul li:nth-of-type(odd),
  .home-title-area .home-banner ul li:nth-of-type(even) {
    flex: 1 0 100%;
  }
}
@media (max-width: 1023px) {
  .post-hero h1 {
    font-size: 52px;
  }
  .section-hero {
    padding-left: 20px;
    padding-right: 20px;
  }
  .page-footer h5, .page-footer h6 {
    margin-bottom: 15px;
  }
  .page-footer ul {
    margin-bottom: 40px;
  }
  .page-footer .the-text {
    margin-bottom: 15px;
  }
  .row.featured-posts .card .card-content,
  .row.blog-posts .card .card-content {
    padding: 25px;
  }
  .row.featured-posts .card .card-action, .row.blog-posts .card .card-action {
    padding: 0 25px 30px;
  }
  .row.featured-posts .card h6, .row.blog-posts .card h6 {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .row.featured-posts .card h4, .row.blog-posts .card h4 {
    font-size: 21px;
    margin-bottom: 15px;
  }
  .blog-posts.block {
    padding-top: 60px;
  }
  .section-home-features.block {
    padding-bottom: 50px;
  }
  .company-headline {
    padding: 100px 30px 130px;
  }
  .about-hero {
    padding-left: 35px;
    padding-right: 35px;
  }
  .about-hero p {
    font-size: 16px;
  }
  .row.featured-posts .blog-sidebar {
    width: 100%;
  }
  .row.featured-posts > .col {
    width: 100%;
  }
  .two-wide {
    flex-wrap: wrap;
  }
  .two-wide .the-text {
    text-align: center;
  }
  .two-wide .the-image {
    text-align: center;
    margin-bottom: 50px;
  }
  .two-wide .the-image img {
    width: 85%;
    max-width: 500px;
  }
  .section-home-infoblocks .home-api .the-image {
    padding-left: 0;
  }
  .section-home-infoblocks .home-everyone {
    padding-top: 70px;
  }
  .two-wide.home-everyone .the-image {
    padding: 0 65px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width: 500px;
  }
  .section-features .the-features .the-item .btn-wrap {
    text-align: center;
    margin-top: 20px;
    flex: 1 0 100%;
    justify-content: center;
  }
  .section-features .the-features .the-item {
    padding: 25px 30px;
    flex-wrap: wrap;
  }
  .section-features .the-features .main-feature {
    padding: 35px 30px;
  }
  .section-features .the-features .product-wrap {
    flex: 1 0 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .section-features .the-features .the-item .the-text {
    margin: 0;
  }
  .section-features .the-features .the-item .the-icon-wrap {
    margin-bottom: 15px;
    flex: 1 0 100%;
  }
  .section-features .the-features .the-item .the-icon-wrap {
    justify-content: center;
  }
  .section-features .the-icon {
    margin-left: auto;
    margin-right: auto;
  }
  .section-features .the-features .the-item .the-text {
    text-align: center;
  }
  .section-features .feature-icons {
    justify-content: center;
  }
  .row.home-featured-products .button-wrap {
    flex-wrap: wrap;
    justify-content: center;
  }
  .row.home-featured-products .button-wrap a.plain-link {
    text-align: center;
    margin-top: 10px;
    flex: 1 0 100%;
  }
  .row.home-featured-products .button-wrap a.plain-link span {
    margin-left: 0;
  }
  .creator-headline-area .the-text {
    max-width: 100%;
  }
  .creator-headline-area ul {
    margin-left: 0;
    margin-right: 0;
  }
  .creator-headline-area ul .the-items {
    flex: 1 0 100%;
  }
  .creator-headline-area ul li {
    font-size: 16px;
    white-space: normal;
    margin-bottom: 15px;
  }
  .section-creator-list .the-features .the-item h5 {
    font-size: 16px;
  }
  .centered-one-col p {
    font-size: 16px;
  }
  .creatorfund-milestones .how-it-works .the-details {
    flex-wrap: wrap;
    gap: 10px;
  }
  .creatorfund-milestones .milestones-wrap h2 {
    margin-bottom: 0;
  }
  .creatorfund-milestones .milestones-wrap .milestone {
    padding: 30px 25px;
  }
  .creatorfund-milestones .milestones-wrap .milestone li {
    font-size: 14px;
  }
  .creatorfund-milestones .milestones-wrap .milestone i {
    margin-right: 5px;
  }
  .creatorfund-milestones .milestones-wrap .milestone p {
    margin-bottom: 15px;
  }
  .section-search-results .search-results .the-results {
    overflow-x: scroll;
  }
  .section-search-results .search-results .the-results > .col.s12 {
    width: auto;
  }
  .section-search-results .search-results .the-results .card-content {
    width: 1000px;
  }
}
@media (max-width: 992px) {
  .dropdown-content li > a, .dropdown-content li > span {
    line-height: 48px;
  }
  .dropdown-content li.divider {
    margin: 0;
  }
  .smart-contract-features .the-features .feature:last-of-type {
    margin-bottom: 20px;
  }
  .smart-contract-features .extra-features {
    padding: 0 33px;
    display: inline-block;
  }
  .smart-contract-features .extra-features h5 {
    text-align: left;
    padding-right: 0;
  }
  .smart-contract-features .extra-features h5:last-of-type {
    margin-bottom: 0;
  }
  .smart-contract-actions .action {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .smart-contract-actions .action:last-of-type p {
    margin-bottom: 0;
  }
  .smart-contract-actions .action p {
    margin-top: 10px;
    flex: 1 0 100%;
  }
  .smart-contract-actions a.btn-small {
    margin-right: 0;
  }
  .centered-one-col img {
    max-width: 100%;
  }
  .section-creator-list .the-features {
    padding: 0 20px;
  }
  .section-distribute .provide .the-list .the-item {
    flex: 0 0 47.5%;
  }
}
@media (max-width: 768px) {
  .home-title-area .squiggle-1 {
    background-size: 100% 12px;
    background-position: left 100%;
    padding-bottom: 3px;
  }
  .home-title-area .squiggle-2 {
    background-size: 100% 8px;
    background-position: left 97%;
    padding-bottom: 0;
  }
  .show-small {
    display: block;
  }
  .hide-small {
    display: none;
  }
  .block {
    padding: 65px 0;
  }
  .block.section-mockup {
    padding-left: 30px;
    padding-right: 30px;
  }
  .container {
    padding: 0;
  }
  .row {
    margin-left: 15px;
    margin-right: 15px;
    max-width: 100%;
  }
  .row.home-featured-products {
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    font-size: 43px;
  }
  h1 .bigger {
    font-size: 48px;
  }
  h2 {
    font-size: 30px;
  }
  span.squiggle-1 {
    padding-bottom: 4px;
  }
  span.squiggle-2 {
    padding-bottom: 1px;
  }
  h3 {
    font-size: 24px;
  }
  h3.bigger {
    font-size: 30px;
  }
  h4 {
    font-size: 21px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 14px;
  }
  p {
    font-size: 15px;
    line-height: 1.6;
  }
  .btn-large {
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    padding: 0 28px;
  }
  .section-hero {
    padding-bottom: 45px;
  }
  .featured-notice {
    padding: 10px 20px;
    justify-content: space-between;
  }
  .featured-notice img {
    display: none;
  }
  .card .card-content {
    padding: 30px;
  }
  .page-footer {
    text-align: center;
  }
  .page-footer .footer-copyright {
    padding: 0 25px;
  }
  .section-slick-slide {
    flex-wrap: wrap;
  }
  .section-slick-slide .the-title {
    margin-bottom: 30px;
  }
  .slick-slider .card {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .slick-slider .card .card-content {
    padding: 16px;
  }
  .slick-slider .card .card-title strong {
    font-size: 18px !important;
  }
  .section-home-features .the-features .col.s6.m3 {
    padding: 0 3%;
  }
  .section-features .the-features .the-item {
    padding: 25px 30px;
    flex-wrap: wrap;
  }
  .section-features .the-features .main-feature {
    padding: 35px 30px;
  }
  .section-features .the-features .the-wrap {
    flex-wrap: wrap;
  }
  .section-features .the-features .the-item .the-text {
    margin: 0;
  }
  .section-features .the-features .the-item .the-icon-wrap {
    margin-bottom: 15px;
    flex: 1 0 100%;
  }
  .section-features .the-features .the-item .btn-wrap {
    margin-top: 20px;
    flex: 1 0 100%;
  }
  .row.featured-posts > .col {
    flex: 1 0 100%;
  }
  .row.blog-posts .col.s12 {
    flex: 1 0 100%;
  }
  .row.blog-posts > .col {
    flex: 0 0 100%;
  }
  .row.featured-posts .the-thumbnail img {
    height: 40vw;
  }
  .section-single-posts .row.featured-posts .the-thumbnail img {
    height: 40vw;
  }
  .row.blog-posts .the-thumbnail img {
    height: 25vw;
  }
  .row.blog-posts .card h5 {
    margin-bottom: 15px;
  }
  .row.blog-posts .card .card-action {
    padding: 0 25px 25px;
  }
  .team .row .col.team-member {
    width: 65%;
    max-width: 300px;
    margin: 0 auto 50px;
    float: none;
  }
  .team .row .col.team-member:last-of-type {
    margin-bottom: 0;
  }
  .about-hero p {
    text-align: center;
  }
  .row.full-image {
    margin-left: 0;
    margin-right: 0;
  }
  .company-headline {
    padding: 70px 30px 100px;
  }
  .team .team-title {
    text-align: center;
  }
  .team .team-member > div {
    margin-top: 10px;
    margin-left: 15px;
  }
  .team .team-member > div p {
    margin: 0;
  }
  .slick-slide .card .card-title {
    display: flex;
    align-items: center;
  }
  .slick-slide .card .card-title strong {
    font-size: 16px !important;
    line-height: 1.3;
    margin-bottom: 0;
    display: block;
    flex: 1 0 100%;
  }
  .slick-slide .card .card-title .btn-small {
    display: none !important;
  }
  .slick-slide .card .card-title .left, .slick-slide .card .card-title .right {
    float: none !important;
  }
  .section-slick-slide .the-title {
    text-align: center;
  }
  .feature-icons {
    margin: 5px auto 30px;
    justify-content: center;
  }
  .row.home-featured-products .card .card-content {
    text-align: center;
    padding: 30px 25px 0;
  }
  .row.home-featured-products .card .card-action {
    text-align: center;
    flex: 1 0 100%;
  }
  .section-hero h3.bigger {
    margin-bottom: 15px;
  }
  .page-footer .footer-copyright .container {
    font-size: 13px;
    padding: 15px 0;
  }
  .section-features .the-features .the-item .the-icon-wrap {
    justify-content: center;
  }
  .section-features .the-icon {
    margin-left: auto;
    margin-right: auto;
  }
  .section-features .the-features .the-item .the-text {
    text-align: center;
  }
  .section-features .the-features .the-item .btn-wrap {
    text-align: center;
  }
  .about-hero h3.bigger {
    margin-bottom: 25px;
  }
  .blog-hero h1,
  .post-hero h1 {
    font-size: 36px;
  }
  .blog-hero h2 {
    font-size: 27px;
  }
  .post-hero .caps-accent-big {
    font-size: 18px;
  }
  .row.wrap .card .card-content {
    padding: 20px;
  }
  .row.wrap {
    padding-left: 0;
    padding-right: 0;
  }
  .row.wrap .card-content .row:last-of-type {
    margin-bottom: 0;
  }
  .section-single-posts {
    margin-top: -200px;
  }
  .row.featured-posts, .row.blog-posts {
    padding-left: 0;
    padding-right: 0;
  }
  .section-features .the-features .the-item {
    margin-bottom: 20px;
  }
  .row.home-featured-products > .col {
    margin-top: 100px;
  }
  .row.home-featured-products > .col:first-of-type {
    margin-top: 75px;
  }
  .row.home-featured-products .cutout-smart-contract {
    top: -76px;
    left: auto;
    right: auto;
    width: 100%;
    bottom: auto;
    transform: rotate(250deg);
  }
  .row.home-featured-products .cutout-cc {
    top: -95px;
    left: auto;
    right: auto;
    width: 100%;
    bottom: auto;
    transform: rotate(-30deg);
    padding-right: 20px;
  }
  .two-wide .the-text h3 {
    font-size: 24px;
  }
  a.underlined::after {
    bottom: -2px;
  }
  .section-smart-contracts .block-full {
    padding: 60px 30px;
  }
  .smart-contract-actions h3 span {
    font-size: 18px;
    margin-top: 20px;
    display: block;
  }
  .section-dashboard {
    padding-bottom: 0;
  }
  .section-dashboard .row.wrap {
    margin-left: 0;
    margin-right: 0;
  }
  .section-dashboard .row.wrap .card {
    border-radius: 0;
    box-shadow: 0 0 0;
  }
  .section-dashboard .choose-account {
    align-items: flex-end;
    margin-bottom: 30px;
  }
  .section-dashboard .choose-account h5.caps-accent {
    font-size: 13px;
  }
  .section-dashboard .choose-account .select-wrapper input.select-dropdown {
    font-size: 13px;
    line-height: 24px;
    height: 24px;
  }
  .section-dashboard .btn-small {
    font-size: 12px;
  }
  .section-dashboard .row.wrap .card .card-content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .payout-info {
    padding: 30px;
    flex-wrap: wrap;
  }
  .payout-info .upcoming {
    margin-bottom: 20px;
    flex: 1 0 100%;
  }
  .payout-info h5.stat span {
    margin-top: 5px;
    margin-left: 0;
    display: inline-block;
  }
  .payout-info .sales {
    text-align: left;
    flex: 1 0 100%;
  }
  .section-dashboard .caps-accent {
    font-size: 16px;
  }
  .section-single-posts .row .col {
    padding: 0;
  }
  .contract {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
  }
  .contract .the-details h4 {
    padding-right: 12px;
    font-size: 18px;
  }
  .contract .the-details .the-image {
    margin-bottom: 10px;
    flex: 0 0 100px;
  }
  .contract .the-details .the-image img {
    border-radius: 3px;
  }
  .contract .the-details .the-text {
    flex: 1 0 100%;
  }
  .contract .the-buttons {
    margin-top: 12px;
  }
  .contract .expand-toggle i {
    padding: 12px;
  }
  .section-single-posts .card .card-content .contract p {
    word-break: break-all;
  }
  .contract .the-details p span {
    display: block;
  }
  .section-hero .creator-headline-area {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
  }
  .creator-headline-area .the-title h2 {
    font-size: 38px;
    margin-bottom: 10px;
  }
  .section-distribute {
    padding-left: 30px;
    padding-right: 30px;
  }
  .section-distribute .distribute-list ul {
    margin-left: 0;
  }
  .section-distribute h2.title-vbold,
  .section-mockup h2.title-vbold,
  .section-distribute .provide h2.title-vbold,
  .section-creator-tech h2.title-vbold {
    font-size: 32px;
    letter-spacing: normal;
  }
  .section-distribute .provide .the-list .the-item {
    flex: 1 0 90%;
  }
  .section-distribute .distribute-list ul li {
    font-size: 20px;
  }
  .section-distribute .block-1100 {
    padding-bottom: 0;
  }
  .section-distribute .provide .the-list .the-item {
    padding: 15px 20px;
  }
  .section-creator-tech .dots {
    margin: 50px auto;
    padding: 0 50px;
  }
}
@media (max-width: 599px) {
  .home-title-area .squiggle-1 {
    background: url("../images/squiggle-2.png") no-repeat left bottom;
    background-size: 100% 8px;
    background-position: left 97%;
    padding-bottom: 0;
  }
  .home-title-area .squiggle-2 {
    background: url("../images/squiggle-2.png") no-repeat left bottom;
    background-size: 100% 8px;
    background-position: left 97%;
    padding-bottom: 0;
  }
  h3.bigger {
    font-size: 26px;
  }
  .about-hero h3.bigger {
    font-size: 24px;
  }
  .team h3.bigger {
    font-size: 26px;
  }
  .section-hero .home-title-area {
    padding-top: 6vh;
    min-height: 43vh;
  }
  .section-hero .home-banner-area {
    padding: 0;
    padding-top: 30px;
  }
  .section-hero .home-title-area .home-banner {
    padding: 40px 25px;
  }
  .home-title-area .home-banner h1 {
    font-size: 36px;
  }
  .home-title-area .home-banner ul li {
    white-space: normal;
  }
  .home-title-area .home-banner ul .the-items {
    flex: 1 0 100%;
  }
  .home-title-area .home-banner ul {
    padding-left: 0;
    padding-right: 0;
    margin: 30px 20px;
  }
  .home-title-area .home-banner ul li {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .section-hero .home-headline-area {
    padding: 50px 0;
  }
  .home-headline-area h4 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .section-hero .home-headline-area h2 {
    font-size: 27px;
    line-height: 1.4;
    padding: 0 20px;
    margin-bottom: 15px;
  }
  .home-headline-area p.desc {
    font-size: 15px;
    line-height: 1.4;
  }
  .section-hero h1 {
    margin-bottom: 25px;
  }
  .section-hero h2 {
    font-size: 26px;
    margin-bottom: 20px;
  }
  .section-hero h3.bigger {
    font-size: 19px;
  }
  .secondary-wrap .section-hero {
    padding-bottom: 200px;
  }
  .about-hero {
    padding-left: 25px;
    padding-right: 25px;
  }
  .overlap-about {
    margin-top: -165px;
  }
  .company-headline {
    padding: 60px 30px 90px;
  }
  .team .block {
    padding-top: 85px;
    padding-bottom: 85px;
  }
  .page-footer .the-text {
    margin-bottom: 5px;
  }
  .page-footer h5, .page-footer h6 {
    margin-bottom: 12px;
  }
  .page-footer ul {
    margin-bottom: 30px;
  }
  .team h3 {
    font-size: 24px;
  }
  .team .team-title {
    margin-bottom: 30px;
  }
  .section-home-features.block {
    padding-bottom: 65px;
  }
  .section-home-features.block .the-features {
    padding-left: 0;
    padding-right: 0;
  }
  .featured-carousel {
    padding: 65px 0;
  }
  .section-home-features .the-icon {
    margin-bottom: 20px;
  }
  .featured-carousel h2 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .section-home-posts .card-action {
    text-align: center;
    width: 100%;
  }
  .section-features .the-features .the-item .btn-wrap .wrap {
    margin-right: 0;
    margin-bottom: 10px;
    flex: 1 0 100%;
  }
  .alert-card .card-content {
    padding: 20px;
  }
  .alert-card .product-wrap {
    text-align: left;
  }
  .row.blog-posts {
    justify-content: center;
  }
  .row.blog-posts > .col.s3 {
    margin-bottom: 20px;
    flex: 0 0 85%;
  }
  .row.blog-posts .headline-center {
    margin-top: 0;
    margin-bottom: 80px;
  }
  .section-smart-contracts .button-wrap .btn {
    margin-bottom: 10px;
  }
  .secondary-full-wrap .section-hero .page-title .button-wrap .btn {
    margin-bottom: 10px;
  }
  .home-title-area .home-banner::after {
    width: calc(100% - 50px);
    bottom: -170px;
  }
  .creator-headline-area .the-title h2 span {
    display: none;
  }
}/*# sourceMappingURL=old_curios-responsive.css.map */